<center>
<% if @new_image %>
  <%= link_to image_tag(@new_image.image.url(:medium)), @new_image.image.url %>
  <%= @new_image.rating %>
<% end %>
<br />
<%= link_to 'Cool', cool_images_url %> | <%= link_to 'Uncool' , new_image_path %>
<h1>Coolest images</h1>
<% @top_images.each do |image| %>
  <%= link_to image_tag(image.image.url(:thumb)), image.image.url %>
  <%= image.rating %>
<% end %>
</center>
